:root {
    --color: rgb(211, 171, 118);
   --padding: 40px;
}

/* font is here */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.random {
    color: blueviolet;
    border-radius: 12px;
    text-align: center;
    height: 50px;
    border: 3px solid #6d775c;
    background-color: rgba(138, 197, 50, 0.986);
    background-size: 50%;
}

#one {
    font-family: "Mate SC", serif;
    text-align: left;
    padding: var(--padding);
    background-color: rgba(71, 96, 175, 0.897);
    border-radius: 11px;


}

#two {
    font-family: "Mate SC", serif;
    text-transform: lowercase;
    padding: var(--padding);
    margin-left: 30px;
    background-color: var(--color);
    border-radius: 8px;
    text-align: center;
}

#raw {
    list-style: bengali;
    background-color: #d89494;
    list-style-type: "\1F604";
    border: 2px solid darkmagenta;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px);
}