:root {
    --color: rgb(211, 171, 118);
    --padding: 30px;

    * {
        padding: 0;
        margin: 0;
    }

    /* font is here */
    @import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

    .random {
        color: rgb(72, 14, 126);
        padding: 15px 0 10px 50px;
        height: 50px;
        border: 1px solid #3a1ac9;

        background-color: rgba(131, 177, 62, 0.986);
        background-size: 50%;
    }

    #one {
        font-family: "Mate SC", serif;
        font-size: 18px;
        text-align: left;
        padding: var(--padding);
        background-color: rgba(71, 96, 175, 0.897);


    }

    #two {
        font-family: "Mate SC", serif;
        text-transform: lowercase;
        padding: var(--padding);
        background-color: var(--color);
        font-size: 18px;

    }

    #raw {
        list-style: bengali;
        background-color: #d89494;
        list-style-type: "\1F604";
        border: 2px solid darkmagenta;
    }


    /* scrollbar */

    ::-webkit-scrollbar {
        width: 13px;
    }

    ::-webkit-scrollbar-track {
        background: #d1e5ff;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(#642bff, #ff22e6);
        border-radius: 10px);
    }